.custom-modal-container {
  /* background-color: #383838; */
  color: white;
}

.modal-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.outlined-basic {
  color: white;
}

.buttons-container {
  width: 50%;
  display: flex;
  justify-content: space-between;
  gap: 3px;
  margin-top: 1rem;
}

.modal-modal-close {
  cursor: pointer;
}
