:root {
  --var-logo-color: #ee1520;
  --var-dark-bgcolor: #181818;
  --var-light-bgcolor: #444d56;
}

body {
  background-color: var(--var-dark-bgcolor);
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  box-sizing: border-box;
}
