.search-container {
  height: 29px;
  width: 573px;
  display: flex;
  align-items: center;
  color: var(--var-light-bgcolor);
  background-color: #121212;
  border: 1px solid var(--var-light-bgcolor);
  border-radius: 2px 0px 0px 2px;
}

.search-input {
  width: 100%;
  border: none;
  border-radius: 2px;
  background-color: #121212;
  color: white;
  padding: 0 8px;
}

.search-input:focus {
  outline: none;
}

.search-icon {
  height: 29px;
  width: 63px;
  color: #828282;
  background-color: var(--var-light-bgcolor);
  display: flex;
  align-items: center;
  justify-content: center;
}
